<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<h1>Edit Person:</h1>


<form th:action="@{/editPerson}"
      th:object="${person}" method="POST">

    <div th:if="${#fields.hasErrors()}">
 <span class="validationError">
 Please correct the information.
 </span>
    </div>
   <input type="hidden"  th:field="${person.id}" />
    First Name:
    <input type="text" th:field="*{firstName}" />
    <span class="validationError"
          th:if="${#fields.hasErrors('firstName')}"
          th:errors="*{firstName}">
    </span>
    <br/>
    Last Name:
    <input type="text" th:field="*{lastName}" />
    <span class="validationError"
          th:if="${#fields.hasErrors('lastName')}"
          th:errors="*{lastName}">
    </span>
    <br/>
    Street address:
    <input type="text" th:field="*{street}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('street')}"
          th:errors="*{street}">
    </span>
    <br/>
    City:
    <input type="text" th:field="*{city}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('city')}"
          th:errors="*{city}">
    </span>
    <br/>
    Zip code:
    <input type="text" th:field="*{zip}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('zip')}"
          th:errors="*{zip}">
    </span>
    <br/>
    Email:
    <input type="text" th:field="*{email}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('email')}"
          th:errors="*{email}">
    </span>
    <br/>
    Birthday:
    <input type="text" th:field="*{birthday}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('birthday')}"
          th:errors="*{birthday}">
    </span>
    <br/>
    Phone:
    <input type="text" th:field="*{phone}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('phone')}"
          th:errors="*{phone}">
    </span>
    <br/>
    <input type="submit" value="Edit" />

</form>
<br/>


</body>
</html>